:root {
  /** Base colors */
  --theme-dark: #000000;
  --theme-light: #ffffff;

  /** Light theme text colors */
  --theme-text-primary: #000000;
  --theme-text-secondary: #2c2c2c;

  /** Light theme primary colors */
  --theme-primary-0: #710286;
  --theme-primary-10: #741e86;
  --theme-primary-20: #772f85;
  --theme-primary-30: #7a3c85;
  --theme-primary-40: #7c4984;
  --theme-primary-50: #7d5484;

  /** Light theme surface colors */
  --theme-surface-0: #ffffff;
  --theme-surface-10: #f0f0f0;
  --theme-surface-20: #e1e1e1;
  --theme-surface-30: #d3d3d3;
  --theme-surface-40: #c5c5c5;
  --theme-surface-50: #b6b6b6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  background-color: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--theme-text-primary);
  background-color: var(--theme-surface-0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: var(--theme-primary-30);
}

#root,
#__next {
  isolation: isolate;
}

.inactive {
  left: -300px;
  box-shadow: none !important;
}

a.inactive {
  left: 0 !important;
}