---
import { getCollection } from "astro:content";
import { buildFileTree } from "../utils/filetree";
import Filetree from "./Filetree.astro";

const entries = await getCollection("legendarium");
const ft = buildFileTree(entries.map((entry) => entry.id));
---

<nav id="menu">
    <header class="major">
        <h2>Table of Contents</h2>
    </header>

    <Filetree filetree={ft} />
</nav>

<style lang="scss">
    .major h2 {
        margin-top: 35px;
    }
</style>
