---
import { getCollection } from "astro:content";
import { buildFileTree } from "../utils/filetree";
import Filetree from "./Filetree.astro";

const entries = await getCollection("legendarium");
const ft = buildFileTree(entries.map((entry) => entry.id));
---

<nav id="menu">
    <header class="major">
        <img class="site-icon" src="/book-2.png" />
        <h2>The Thalorium</h2>
    </header>

    <Filetree filetree={ft} />
</nav>

<style lang="scss">
    .site-icon {
        max-width: 35px;
        max-height: 35px;
    }
</style>
