---
import Navbar from "./Navbar.astro";
import RecentArticles from "./RecentArticles.astro";
---

<div id="sidebar">
    <div class="inner">
        <img class="site-icon" src="/book-2.png" />
        <Navbar />
        <RecentArticles />
        <a href="#sidebar" class="toggle">&#9776</a>
    </div>
</div>

<style lang="scss">
    #sidebar {
        position: fixed;
        top: 0;
        width: 300px;
        height: 100%;
        // box-shadow: 0 0 50px 0 rgba(0,0,0, 0.3);

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            padding: 10px;
            background-color: var(--theme-surface-10);
        }
    }

    .site-icon {
        max-width: 35px;
        max-height: 35px;
    }

    .toggle {
        position: fixed;
        top: 0;
        left: 300px;
        width: 2.5em;
        height: 1.5em;
        border-radius: 3px;
        margin-left: 10px;
        margin-top: 10px;

        background-color: var(--theme-surface-50);
        color: var(--theme-text-primary);
        text-decoration: none;
        text-align: center;
        font-size: large;
        opacity: 50%;
    }
</style>
