---
import Navbar from "./Navbar.astro";
import RecentArticles from "./RecentArticles.astro";
---

<div id="sidebar">
    <div class="inner">
        <Navbar />
        <RecentArticles />
    </div>
</div>

<style lang="scss">
    #sidebar {
        width: 300px;
        box-shadow: 0 0 50px 0 rgba(0,0,0, 0.3);
    }
</style>
