<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="main.css">
    <meta name="generator" content={Astro.generator} />
    <title>Glimpse Of The Realms</title>
  </head>
  <body>
    <slot />

	<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script is:inline src="/main.js"></script>
  </body>
</html>

