---
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/main.css" />
		<meta name="generator" content={Astro.generator} />
		<title>The Thalorium</title>
	</head>
	<body>
		<div class="wrapper">
			<Sidebar />
			<div id="main">
				<div class="inner">
					<div class="social">
						<a href="https://bsky.app/profile/grunkleblinkfizzle.bsky.social" title="Bluesky">🦋</a>
					</div>
					<header class="main">
						<img class="site-icon" src="/book-2.png" />
						<h2>The Thalorium</h2>
					</header>

					<slot />
				</div>
			</div>
		</div>

		<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script is:inline src="/main.js"></script>
	</body>
</html>

<style lang="scss" is:global>
	/* Default: Small devices such as large phones (less than 768px) */
	.major {
		h2 {
			width: fit-content;
			border-bottom: solid 2px var(--theme-primary-20);
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
		}
	}

	.site-icon {
        max-width: 35px;
        max-height: 35px;
    }

	#main {
		// padding: 15px;
		// margin-top: 55px;

		.inner {
			& > * {
				margin-bottom: 15px;
			}

			& > h1,h2,h3,h4,h5,h6 {
				border-bottom: solid 2px var(--theme-primary-40);
				width: fit-content;
			}

			& > h1 {
				margin-top: 40px;
			}

			& pre {
				padding: 5px;
				border-radius: 5px;
			}

			header.main h2 {
				border-bottom: none;
			}
		}
	}

	header.main {
		display: flex;
		padding-bottom: 10px;
		margin-bottom: 35px;
		border-bottom: solid 5px var(--theme-primary-20);

		h2 {
			font-size: medium;
		}

		.site-icon {
			max-width: 25px;
        	max-height: 25px;
		}
	}

	/* Medium devices such as tablets (768px and up) */
	@media only screen and (min-width: 768px) {
	}

	/* Large devices such as laptops (1024px and up) */
	@media only screen and (min-width: 1024px) {
	}
</style>
