---
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/main.css" />
		<meta name="generator" content={Astro.generator} />
		<title>The Thalorium</title>
	</head>
	<body>
		<div class="alpha-banner hazard-border">
			<span>site in alpha!</span>
		</div>
		<div class="wrapper">
			<Sidebar />
			<div id="main">
				<div class="inner">
					<header class="main">
						<img class="site-icon" src="/book-2.png" />
						<h2><a href="/">The Thalorium</a></h2>
					</header>

					<slot />
				</div>
			</div>
		</div>

		<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script is:inline src="/main.js" type="module"></script>
	</body>
</html>

<style lang="scss" is:global>
	/* Default: Small devices such as large phones (less than 768px) */
	.alpha-banner {
		display: flex;
		justify-content: center;
		position: fixed;
		z-index: 1000000;
		width: 200px;
		background-color: #ffb101;
		// border-top: dashed 2px black;
		// border-bottom: dashed 2px black;
		transform: rotate(45deg);
		right: -45px;
		top: 33px;
	}

	.hazard-border {
		border: 5px solid pink;
		border-image: repeating-linear-gradient(
			-55deg,
			#000,
			#000 20px,
			#ffb101 20px,
			#ffb101 40px
		) 10;
	}

	.major {
		h2 {
			width: fit-content;
			border-bottom: solid 2px var(--theme-primary-20);
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
		}
	}

	.site-icon {
        max-width: 35px;
        max-height: 35px;
    }

	#main {
		padding: 15px;

		.inner {
			& > * {
				margin-bottom: 15px;
			}

			& > h1,h2,h3,h4,h5,h6 {
				border-bottom: solid 2px var(--theme-primary-40);
				width: fit-content;
			}

			& > h1 {
				margin-top: 40px;
			}

			& pre {
				padding: 5px;
				border-radius: 5px;
			}

			header.main h2 {
				border-bottom: none;
				
				a {
				text-decoration: none;
				color: inherit;
			}
			}
		}
	}

	header.main {
		display: flex;
		padding-bottom: 10px;
		margin-bottom: 35px;
		margin-top: 50px;
		border-bottom: solid 5px var(--theme-primary-20);

		h2 {
			font-size: medium;
		}

		.site-icon {
			max-width: 25px;
        	max-height: 25px;
		}
	}

	/* Medium devices such as tablets (768px and up) */
	@media only screen and (min-width: 768px) {
	}

	/* Large devices such as laptops (1024px and up) */
	@media only screen and (min-width: 1024px) {
		.wrapper {
			display: flex;
			gap: 50px;
		}
		#main {
			padding: 0;
			// margin-right: 350px;
			margin-right: max(50px, min(calc(100vw - 1360px), 350px));
		}
	}
</style>
